[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
appdirs = "*"
cffi = "*"
click = "*"
cryptography = "*"
diff-match-patch = "*"
dj-database-url = "*"
django-activity-stream = "*"
django-allauth = "*"
django-filter = "*"
django-import-export = "*"
django-postgrespool = "*"
django-selenium = "*"
djangorestframework = "*"
enum34 = "*"
gunicorn = "*"
idna = "*"
oauthlib = "*"
paypalrestsdk = "*"
psycopg2 = "*"
pyasn1 = "*"
pycparser = "*"
pyparsing = "*"
python-dotenv = "*"
python-openid = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
rollbar = "*"
selenium = "*"
simplejson = "*"
six = "*"
slacker = "*"
tablib = "*"
tweepy = "*"
wepay = "*"
whitenoise = "*"
pylibmc = {version = "*", sys_platform = "!= 'win32'"}
django-pylibmc = "*"
Django = "*"
Markdown = "*"
Pillow = "*"
pyOpenSSL = "*"
SQLAlchemy = "*"
beautifulsoup4 = "*"
pylint-django = "*"
black = "*"
2to3 = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
